h1{
  color: rgb(255,255,255);
  font-family: 'Dosis', sans-serif;
  text-align: center;
  margin: 2em 0 1em 0;
}

nav{
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  margin: auto;
  margin-bottom: 3em;
  width: 90%;
}

.items-area{
  width: 90%;
  height: 27em;
  border: 2px solid rgb(255, 255, 255);
  margin: auto;
  border-radius: 10px;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.nav-button{
  width: 170px;
  height: 40px;
  border: 0 ;
  border-radius: 10px;
  font-family: 'Dosis', sans-serif;
  font-size: large;
  font-weight: bold;
  background-color: white;
}

.nav-button:hover{
  border: 2px solid rgb(255, 255, 255);
  background: rgb(27, 27, 27);
  color:white;
}

.clear{
  background-color: rgb(182, 4, 4);
  color: rgb(255, 255, 255)
}

.clear:hover{
  background-color: rgb(255, 255, 255);
  color: rgb(182, 4, 4);
  border: 2px solid rgb(182, 4, 4);
}

.tables-wrapper{
  display: flex;
  flex-direction: column;
  height: 20em;
  width: 70%;
  border: 2px solid rgb(255, 4, 4);
  margin: auto;
  margin-top: 2em;
  margin-bottom: 2em;
}

.context-menu{
  padding: 1em;
  color: white;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 90%;
  gap: 1em;
  align-items: center;
}

.context-menu img{
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 0 10px 0 0;
}

.context-menu button{
  width: 170px;
  height: 40px;
  border: 0;
  font-size: large;
  font-weight: bold;
  border-radius: 10px;
 }

.context-menu button:hover{
  border: 2px solid rgb(255, 255, 255);
  background: rgb(27, 27, 27);
  color:white;
 }

.context-menu h3{
  width: 100%;
  text-align: left;
}

.disabled{
  background-color: #8c8c8c;
  color: #3c3c3c;
  pointer-events: none;
}
